input {
    display: flex;
    width: 200px;
    height: 33px;
    padding-left: 7px;
    outline: none;
    border: 1px solid darkgray;
}

#next-line {
    clear: both;
    height: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid darkgray;
}

#next {
    clear: both;
    height: 20px;
}

.add-check-scupper {
    &__input-x-side {
        border-radius: 4px 4px 0px 0px;
    }
    &__input-x-side:focus {
        border: 1px solid #0471e3;
    }
    &__input-y-side {
        border-radius: 0px 0px 4px 4px;
    }
    &__input-y-side:focus {
        border: 1px solid #0471e3;
    }
    &__input-roof-area {
        border-radius: 4px 4px 0px 0px;
    }
    &__input-roof-area:focus {
        border: 1px solid #0471e3;
    }
    &__input-scupper-bottom:focus {
        border: 1px solid #0471e3;
    }
    &__input-water-level {
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 10px;
    }
    &__input-water-level:focus {
        border: 1px solid #0471e3;
    }
    &__input-project-name {
        margin-bottom: 10px;
        border-radius: 4px 4px 4px 4px;
    }
    &__input-project-name:focus {
        border: 1px solid #0471e3;
    }
}

h3 {
    margin-bottom: 0px;
}

.add-check-scupper {
    float: left;
}

#button-container {
    margin-top: 10px;
    &__count {
        background-color: #0471e3;
        margin-bottom: 5px;
        width: 211px;
        height: 30px;
        color: white;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    &__count:hover {
        background-color: #1582f4;
    }
    &__save {
        background-color: #28282a;
        width: 211px;
        height: 30px;
        color: white;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    &__save:hover {
        background-color: #0471e3;
    }
}

.display {
    float: left;
    margin-left: 10px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding: 10px;
    font-size: 18px;
    width: 290px;
    height: 297px;
    color: white;
    outline: none;
    background-color: gray;
    resize: none;
    &__desc {
        color: #d3d3d3;
        font-size: 14px;
    }
    &__main-info {
        &__scupper-number {
            margin-bottom: 10px;
        }
        &__scupper-side-y {
            margin-bottom: 20px;
        }
    }
}

.find__input {
    float: left;
    &__field {
        border-radius: 4px 0px 0px 4px;
        width: 140px;
    }
    &__field:focus {
        border: 1px solid #0471e3;
    }
}

.find__button {
    float: left;
    &__all {
        margin-left: 19px;
        background-color: #28282a;
        width: 211px;
        height: 37px;
        color: white;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    &__all:hover {
        background-color: #0471e3;
    }
    &__clean {
        margin-left: 19px;
        background-color: #28282a;
        width: 211px;
        height: 37px;
        color: white;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    &__clean:hover {
        background-color: red;
    }
}

.find__button__find {
    display: inline;
    justify-content: flex-end;
    background-color: #28282a;
    cursor: pointer;
    width: 59px;
    height: 37px;
    color: white;
    outline: none;
    border: none;
    border-radius: 0px 4px 4px 0px;
}

.find__button__find:hover {
    background-color: #1582f4;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    font-weight: 100;
    color: #d3d3d3;
    font-size: 14px;
}

.decription-list {
    color: #d3d3d3;
    font-size: 14px;
}

.instruction {
    background-color: #121218;
    float: left;
    width: 364px;
    height: 317px;
    margin-left: 5px;
    &__img {
        max-width: 100%;
        max-height: 100%;
    }
}

#img-description {
    padding: 5px;
    color: #d3d3d3;
    font-size: 14px;
}

.single-scupper {
    border-bottom: 1px solid #d3d3d3;
    width: 825px;
}

.delete-button {
    &__delete-scupper-from-list {
        margin-left: 15px;
        background-color: #28282a;
        width: 60px;
        height: 20px;
        color: white;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    &__delete-scupper-from-list:hover {
        background-color: red;
    }
}
