input {
    display: flex;
    width: 386px;
    height: 33px;
    outline: none;
    border: 1px solid darkgray;
    margin-bottom: 10px;
    border-radius: 4px 4px 4px 4px;
    padding-left: 10px;
}

.create-buttom {
    background-color: #0471e3;
    width: 400px;
    height: 30px;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
}

.create-buttom:hover {
    background-color: #1582f4;
}
