<div>
    <h2>create user</h2>

    <div class="create-user">
        <div>
            <input type="text" placeholder="name" id="name" #name>
        </div>
        <div>
            <input type="text" placeholder="surname" id="surname" #surname>
        </div>
        <div>
            <input type="email" placeholder="e mail" id="email" #email>
        </div>
        <div>
            <input type="password" placeholder="password" id="password" #password>
        </div>

        <button class="create-buttom" (click)="createUser(name.value,
        surname.value,
        email.value,
        password.value);
        name.value='';
        surname.value='';
        email.value='';
        password.value=''">create</button>
    </div>

</div>
