<header>
    <nav>
        <div id="nav-conteiner">
            <div class="nav-button">
                <button class="nav-button__a" routerLink="/jm" routerLinkActive="active">𝓙𝓜</button>
            </div>
            <div class="nav-button">
                <button class="nav-button__a" routerLink="/todo" routerLinkActive="active">todo</button>
            </div>
            <div class="nav-button">
                <button class="nav-button__a" routerLink="/drawings" routerLinkActive="active">drawings</button>
            </div>
            <div class="nav-button">
                <button class="nav-button__a" routerLink="/notes" routerLinkActive="active">notes</button>
            </div>
            <div class="nav-button">
                <button class="nav-button__a" routerLink="/tools" routerLinkActive="active">tools</button>
            </div>
            <div class="nav-button">
                <button id="log-in-button" class="nav-button__a" routerLink="/log-in" routerLinkActive="active">log in</button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </nav>
</header>
<main>
    <article>
        <router-outlet></router-outlet>
    </article>
</main>
<footer>
</footer>
