<header>
    <nav>
        <div id="nav-conteiner">
            <div class="nav-button">
                <button class="nav-button__a" routerLink="/todo" routerLinkActive="active">todo</button>
            </div>
            <div class="nav-button">
                <button class="nav-button__a" routerLink="/tools" routerLinkActive="active">tools</button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </nav>
</header>
<main>
    <article>
        <router-outlet></router-outlet>
    </article>
</main>
<footer>
</footer>