<div>
    <h2>tools</h2>
    <div id="toolbar">
        <button class="calculator-button" (click)="choseUValueCalculator()" routerLink="/tools/uvaluecalculator" routerLinkActive="active">U value calculator</button>
        <button class="calculator-button" (click)="choseStairCalculator()" routerLink="/tools/staircalculator" routerLinkActive="active">stairs calculator</button>
    </div>

    <div [ngSwitch]="toolChoice">
        <div *ngSwitchCase="0">
            <app-tools-stair-calculator></app-tools-stair-calculator>
        </div>
        <div *ngSwitchCase="1">
            <app-tools-u-value-calculator></app-tools-u-value-calculator>
        </div>
    </div>
