<div>
    <h2>notes</h2>
    <div id="toolbar">
        <button id="add-note-button" (click)="addNote()">add note</button>
    </div>

    <div id="areatext-block">
        <textarea id="areatext-block__textarea" [(ngModel)]="selectedNote.text"></textarea>
    </div>

    <div id="note-div">
        <h3>notes</h3>
        <ul id="ul-note">
            <li id="li-note" *ngFor="let note of notes">
                <div class="single-note" (click)="selectNote(note)">
                    <button class="save-button" (click)="saveNote(note)">save</button>
                    <input class="body-note" [(ngModel)]="note.text" disabled>
                    <button class="delete-button" (click)="deleteNote(note)">delete</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="empty-list" *ngIf="!checkIfNotesExist()">
        You do not have any note yet. Above you can create one.<br> Remember to first select the project for which you want to create a new note.
    </div>
    <div style="clear: both;"></div>

</div>