<div>
    <div id="logo-block">
        <h2 id="logo-text">JM id</h2>
    </div>

    <form>
        <div id="login-container">
            <div>
                <input id="login-container__jm-id" placeholder="JM id">
            </div>
            <div>
                <input id="login-container__password" type="password" placeholder="password">
            </div>
            <div id="button-container__block">
                <button id="button-container__submit">submit</button>
            </div>

        </div>
    </form>

</div>
