<div class="route-container">
    <h2>drawings</h2>
    <div id="toolbar">
        <button id="add-sheet-button" (click)="addRow()">add sheet</button>
        <button id="print-sheets-button" (click)="sortBySheetType(); printSheets()">preapre sheet list</button>
    </div>
    <div>
        <ul id="ul-sheet">
            <li id="li-sheet" *ngFor="let sheet of sheets">
                <div class="single-sheet">
                    <button class="save-button" (click)="addSheet(sheet)">save</button>
                    <input class="no-input" [(ngModel)]="sheet.no" placeholder="sheet No.">
                    <input class="description-input" [(ngModel)]="sheet.description" placeholder="description">
                    <input class="edition-input" type="date" [(ngModel)]="sheet.edition">
                    <input class="revision-input" type="number" [(ngModel)]="sheet.revision">
                    <select class="sheet-type-select" [(ngModel)]="sheet.type">
                      <option value="UNKNOWN" selected>unknown</option>
                      <option value="PLAN">plan</option>
                      <option value="SECTION">section</option>
                      <option value="ELEVATION">elevation</option>
                      <option value="ELEMENT">element</option>
                      <option value="SCHEME">scheme</option>
                      <option value="MASTER_PLAN">master plan</option>
                    </select>
                    <button class="delete-button" (click)="deleteSheet(sheet)">delete</button>
                </div>
            </li>
        </ul>
    </div>

    <div id="printout-field">

        <div *ngIf="isPrintShown; then thenBlock else elseBlock"></div>

        <ng-template #thenBlock>
            <h3>list of drawings:</h3>
            <ul id="ul-printout">
                <li id="li-printout" *ngFor="let sheet of sheets">
                    <div class="sheet-printout">
                        <span>{{ sheet.no }}_{{ sheet.description }}_{{ sheet.edition }}_rev._{{ sheet.revision }}_{{ sheet.type }}</span>
                    </div>
                </li>
            </ul>
        </ng-template>

        <ng-template #elseBlock>
        </ng-template>

    </div>

    <div class="empty-list" *ngIf="!checkIfSheetsExist()">
        You do not have any drawing yet. Above you can create one.<br> Remember to first select the project for which you want to create a new drawing.
    </div>
</div>