<!-- <div>
    <h3>U value calculator</h3>
    <ul id="ul-row">
        <li id="li-row" *ngFor="let row of rows">
            <div class="single-row">
                <span class="badge">{{ row.id }}</span>
                <input class="material-input" [(ngModel)]="row.material" placeholder="material(optional)">
                <input class="thickness-input" type="number" [(ngModel)]="row.thickness" placeholder="thickness">
                <input class="lambda-input" type="number" [(ngModel)]="row.lambda" placeholder="lambda">
                <input class="R-input" type="number" [(ngModel)]="row.resistance" placeholder="R(optional)">
                <button class="delete-button" (click)="deleteRow(row)">delete</button>
            </div>
        </li>
    </ul>
</div> -->
