#ul-row {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#li-row {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 5px;
    background-color: #EEE;
    height: 35px;
    border: none;
    border-radius: 6px 6px 6px 6px;
}

.badge {
    display: inline-block;
    font-size: small;
    width: 10px;
    color: white;
    padding: 10px 40px 0px 10px;
    background-color: #00ffbf;
    height: 25px;
    border-radius: 4px 0 0 4px;
}

#add-row-button {
    background-color: #0471e3;
    cursor: pointer;
    width: 120px;
    height: 30px;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
}

#add-row-button:hover {
    background-color: #1582f4;
}

#count-u-button {
    background-color: #4aca3d;
    margin-left: 5px;
    cursor: pointer;
    width: 59px;
    height: 30px;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
}

#count-u-button:hover {
    background-color: #5bdb4e;
}

#toolbar {
    margin-bottom: 23px;
}

.material-input,
.thickness-input,
.lambda-input,
.r-input {
    padding-left: 7px;
    width: 170px;
    height: 33px;
    outline: none;
    border: none;
    border-right: 1px solid darkgray;
}

#rsi-rse-margin {
    float: left;
    height: 69px;
    width: 584px;
    margin-right: 5px;
    padding: 5px;
}

#display {
    float: left;
    background-color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    width: 170px;
    font-size: 14px;
    margin-left: 600px;
    padding-left: 10px;
    padding-top: 10px;
}

.rsi-rse {
    float: left;
    &__input {
        padding-left: 7px;
        width: 170px;
        height: 31px;
        outline: none;
        border: none;
        border: 1px solid darkgray;
        margin-bottom: 5px;
    }
}

.delete-button {
    display: inline;
    justify-content: flex-end;
    background-color: #28282a;
    cursor: pointer;
    width: 60px;
    height: 35px;
    color: white;
    outline: none;
    border: none;
    border-radius: 0px 4px 4px 0px;
}

.delete-button:hover {
    background-color: red;
}

.count-button {
    display: inline;
    justify-content: flex-end;
    background-color: #4aca3d;
    cursor: pointer;
    width: 60px;
    height: 35px;
    color: white;
    outline: none;
    border: none;
}

.count-button:hover {
    background-color: #5bdb4e;
}
